<ion-view title="Chat" class='title_hack cariaman'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
	<div class="list">
		<div class="card">
		  <div class="item item-text-wrap" style="background-color: #87D37C;">
		    Hi, Merakarno! I find that your guitar skills is awesome. Let's jam together!
		  </div>
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    Hi, Reza!
		  </div>
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    How about we jam at Musik Petang by Apres ITB?
		   </div>
		</div>
		<div class="card " >
		  <div class="item item-text-wrap" style="background-color: #87D37C;">
		    Sounds Good! 
		  </div>
		</div>
		<div class="card ">
		  <div class="item item-text-wrap" style="background-color: #87D37C;">
		    Let's meet and prepare for that show.
		  </div>
		</div>
	</div>
	</ion-content>
</ion-view>