<ion-side-menus class="verse-sidemenu">

  <ion-pane ion-side-menu-content can-drag-menu>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">

    <header class="bar bar-header bar-cariaman">
      <h1 class="title" style="color : #fff;">Menu</h1>
    </header>
    <ion-content class="has-header">

      <ion-list>
        <ion-item nav-clear menu-close href="#/app/home">
          <i class="icon ion-home" alt="" style="font-size: 18pt;"></i>
          <span style="vertical-align : top;font-size: 13pt; padding-top: 1px;">Discover</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/notification">
          <i class="icon ion-speakerphone" alt="" style="font-size: 18pt;"></i>
          <span style="vertical-align : top;font-size: 13pt">Notification</span>
          <span class="badge badge-assertive">3</span>
        </ion-item>  
         <ion-item nav-clear menu-close href="#/app/profile"><img src="img/muka-eja.jpg" alt="" height="23px" width="23px" style="border: 0px none;margin: 0px;padding: 0px;border-radius:8px;" >
          <span style="vertical-align : top;font-size: 13pt">Profile</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/discovery">
        <img src="img/discovery.png" alt="" width="23px" height="23px;" >
          <span style="vertical-align : top;font-size: 13pt">Discovery Settings</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/support">
          <img src="img/icon-call.png" alt="" width="23px" height="23px;" >
          <span style="vertical-align : top;font-size: 13pt">Contact and Support</span>
        </ion-item>   
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>