<ion-view title="Music Preferences" class='title_hack cariaman'>
  <ion-nav-buttons side="left">
    <a href="#/app/discovery"></a>
  </ion-nav-buttons>
	<ion-list>

  	<li class="item item-toggle">
     Traditional<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.traditional">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
	<li class="item item-toggle">
     Rock<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.rock">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Jazz<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.jazz">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Pop<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.pop">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Alternative<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.alternative">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Dangdut<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.dangdut">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Hip-Hop<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.hiphop">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Country<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.country">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	<li class="item item-toggle">
     Metal<label class="toggle toggle-positive">
       <input type="checkbox" ng-model="filter.metal">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  	</li>
  	</ion-list>
</ion-view>